# скрипт для docker-compose

services:
  web:
    build: orders
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env

  db:
    image: postgres:14.3-alpine3.15
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=diplom_user
      - POSTGRES_PASSWORD=diplom_secret
      - POSTGRES_DB=diplom_db

volumes:
  postgres_data:
